@model DbWebApplication.ViewModels.StudentGradesViewModel

@{
   ViewData["Title"] = "Home Page";
}

<div class="wrapper">
         
<main class="main">
   <section class="marks">
      <div class="container">
         <h3 class="marks__title">items</h3>

         <h1>Оцінки студента: @Model.StudentFullName</h1>
         
         <p>Факультет: @Model.Faculty</p>
         
         <div class="marks__inner">
         @foreach (var subject in Model.Subjects)
         {
         <div class="marks__inner_ctx">
            <a asp-action="SubjectDetails" asp-route-id="@subject.Id" class="marks__inner_ctx">
               <div class="con__img">
                  <img src="@(subject.Picture != null ? "data:image/jpeg;base64," + subject.Picture : "")" alt="Subject Image" style="max-width: 200px; min-height: 100px; object-fit: cover;" />
               </div>
               <p class="marks__inner_ctx__text">@subject.SubjectName</p>
               <p class="marks__inner_ctx__text_num">@subject.OverallGrade</p>
            </a>
         </div>
         }
         </div>
      </div>
   </section>
</main>
</div>



<script src="js/main.js"></script>