@using DbWebApplication.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<StudentModel>


<ul>
    @foreach (var student in Model)
    {
        <li>
            <form asp-controller="Admin" method="post">
                @Html.AntiForgeryToken()
                <input type="text" value="@student.FirstName" readonly style="display: inline-block; margin-right: 10px;"/>
                <input type="text" value="@student.LastName" readonly style="display: inline-block; margin-right: 10px;"/>
                <input type="text" value="@student.FatherName" readonly style="display: inline-block; margin-right: 10px;"/>
                <input type="text" value="@student.Faculty.GetDisplayName()" readonly style="display: inline-block; margin-right: 10px;"/>

                <!-- Додаємо приховані поля для передачі значень -->
                <input type="hidden" name="Id" value="@student.Id"/>
               
                <button type="submit" asp-action="StudentsList" class="me-3" value="QR">
                    QR студента
                </button>
                <button type="submit" asp-action="EditStudentZalikovka" formmethod="get" value="Zalikovka">
                    Заліковка студента
                </button>
            </form>

        </li>
    }
</ul>

<script>
    
</script>